:root{
  font-size: calc(0.85em + 1vw);
  --success: #0ed145;
  --error: #ff0707;
  box-sizing: border-box;
}

body{
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgb(61,201,109);
}

h1{
  font-size: 0.85em;
}

.content-box{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.5em;
  padding-top: 0;
  margin-top: 6.5em;
  border: 0.2px solid #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
  background-color: #87a58a;
}

.short-msg{
  font-size: 0.5em;
  color: #fff;
  position: absolute;
  top: 90vh;
  left: 50%;
  transform: translateX(-50%);
}

.note, .mention{
  display: block;
}
.note{
  font-size: 0.85em;
}
.mention{
  font-size: 0.4em;
}
.note-periode{
  font-size: 0.4em;
}
.note-annuelle > .note{
  font-size: 1em;
}
.note-annuelle > .mention{
  font-size: 0.5em;
}
.note-annuelle{
  padding: 0.2rem;
  border-radius: 0.3em;
  background-color: var(--success);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  margin: 0.3em;
}
.trimestre{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0 0.2rem;
}

.note-trimestre{
  padding: 0 1.5em;
  margin: 0 0.2em;
  border-radius: 0.3em;
  background-color: var(--success);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.note-saisie{
  display: flex;
  flex-direction: row;
}

label{
  font-size: 0.4em;
}

.note-trim-saisie{
  margin-top: 0.8em;
  padding: 0.2em;
}
input{
  padding: 0.3em;
  display: inline-block;
  width: 4em;
}
.intra{
  margin-bottom: 1.5em;
}

.alert{
  padding: 0.3em;
  border-radius: 0.2em;
  background-color: var(--error);
}

.notification{
  font-size: 0.75em;
}

.matiere{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.4em;
  background: var(--success);
  align-items: center;
  padding: 0.5em;
  border-radius: 0.3em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.nom-matiere, .nom-trimestre{
  font-size: 0.7em;
}

.notes{
  position: fixed;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border: 0.5px solid #fff;
  padding: 0.5em;
  text-align: center;
  color: #fff;
  background-color: #87a58a;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
